[2021-02-21 10:37] Subhangini opened #1 "Readme updation required"
Readme should be informative and attractive .
If it needs to be done tell me.

[2021-03-03 18:09] noviicee opened #2 "Adding new queries to the chat bot"
I really felt that the bot is unable to answer some really basic questions. I think that any user will first of all ask a very basic question to the bot, which, if it won't answer, will give a bad impression. The bot is working great on the queries which are provided  to it, but it needs a few more queries.
I would love to add more queries to the bot and make it more convenient for the users.

[2021-03-03 21:59] rajeshpanjiyar commented on #1
Hi I am a GSSoC'21 participant, I want to work on this could you please assign me this

[2021-03-04 02:49] Srimathij commented on #2
Can you elaborate on What kind of basic questions to be added? since I've programmed the bot to answer Hi or hello then it will directly start with multiple responses, user have to click that to get a solution from Indra!

[2021-03-04 03:02] Srimathij commented on #1
I've done with README.

[2021-03-04 06:54] Aayush-hub opened #3 "Make Website Responsive"
The website is not supported to mobile view. Make it responsive.

[2021-03-04 06:54] Aayush-hub commented on #3
@Srimathij Can you assign me this for GSSoC21 ?

[2021-03-04 18:28] Subhangini commented on #1
ok

[2021-03-06 09:27] Srimathij commented on #3
Hey, the main thing in this project is a chatbot (Indra_A virtual assistant). But you could be able to make conversation with a chatbot.

[2021-03-06 09:31] Aayush-hub commented on #3
@Srimathij  In desktop view also the padding is not upto the mark, as first line of message is not fully visible.

![Capture](https://user-images.githubusercontent.com/65889104/110202117-b610af00-7e8c-11eb-91ef-479d0bca33b1.png)

[2021-03-06 14:40] noviicee commented on #2
I feel like it's giving repetitive answers which does not feel very engaging. Just in case the user says 'Hi' two times, or maybe 'Hello' and 'hi', it's gives the same response. Also I would like to add a query in case the user says 'bye', or 'thanks' or maybe 'take care' in some cases, or maybe something else.
The bot is indeed working really smooth and it's great. I just want to make it little m

[2021-03-07 10:06] #1 closed

[2021-03-08 07:02] Akash20x opened #4 "Add MIT License"
Please assign me this issue as a part of GSSoC'21

[2021-03-09 12:45] kcoder63 opened #6 "add CODE_OF_CONDUCT"
please add code of conduct to maintain the guidelines for contributions

[2021-03-09 12:46] kcoder63 opened #7 "add CONTRIBUTING.md"
add contributing.md to give a brief about your project and welcome new contributors

[2021-03-09 16:20] fomalhauting commented on #7
I would like to work on this under GSSoC'21, kindly assign it to me, thank you.

[2021-03-09 19:57] anurag0singh commented on #6
Assign me under GSSOC'21

[2021-03-09 19:59] anurag0singh commented on #4
This PR request is created under GSSOC'21. Please treat it likely if possible at all. @Srimathij

[2021-03-09 20:01] anurag0singh opened #8 "Greeting bot"
Adding a greeting bot to the repo that will greet everyone who creates a PR or opens an issue on this repo.

Please assign me under GSSOC'21.

[2021-03-09 20:12] Akash20x commented on #4
@anurag0singh the project maintainer doesn't check this issue and didn't assign anyone for the issue nor add any labels.

Always send pull request when project maintainer assign you. By the way I am not project maintainer and open this issue as GSSoC'21 participant to assign me to do this task .

[2021-03-09 20:17] anurag0singh commented on #4
Ok cool.
I don't have any problem if this gets assigned to you.
Happy coding 😁
@Akash20x

[2021-03-10 06:52] sudhansukinng commented on #8
@anurag0singh  pleases assign this issue to me. I would like to work on this.,

[2021-03-10 12:53] thesakshipandey commented on #8
Please assign this issue to me, I'll be able to do this, bc I've done this in my website

[2021-03-10 15:06] anurag0singh commented on #8
@sudhansukinng @thesakshipandey I have opened this issue because I want to work on this. You can have the project if they assign any one of you.

[2021-03-11 03:09] bhubesh757 opened #9 "modifying Home Page 🚀🚀!"
adding Some Cool Lotties to the Homepage and Adding a Footer with some social Media links with awesome css
@Srimathij Kindly ,  assign this to me I will share the ui in Discord

[2021-03-11 14:50] shantamsultania opened #10 "add more functionalists to the Bot using dialogueFlow"
hey,
I am thinking that we can create a responsive API for the which can be made to interact with DialogeFlow and with the help of this API we can make Machine learning models and also add more functionalities to the Bot.

with the help of this we can add things like :
1. make more accurate predictions
2. make a small change in the Database or code and new functionality may also get collected for

[2021-03-11 14:51] shantamsultania opened #11 "Add a Database Connectivity"
with the help of this, we can make or add more solutions to the Bot  we can also add services to the bot which will make it more user friendly

[2021-03-12 12:19] rohank2502 opened #12 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 12:20] rohank2502 opened #13 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:30] Sibasish-Padhy commented on #10
hey @shantamsultania this looks interesting can i contribute to this issue as a GSSOC participant 2021 and  also give proper guidiance for it if possible...really looking forward to work on it with you

[2021-03-12 16:25] shantamsultania commented on #10
hey @Sibasish-Padhy i am not the project admin if the admin approves this functionality we both can work on this together if that's ok with you

[2021-03-13 05:04] Sibasish-Padhy commented on #10
yup

[2021-03-13 05:51] shantamsultania commented on #10
@Srimathij can you can assign me and @Sibasish-Padhy this issue?

[2021-03-13 07:48] alphaX86 commented on #13
@rohank2502 that's nice so basically could you explain what you're going to do? Are you going to implement a bot or what?

[2021-03-13 07:56] saloni-rakholiya commented on #2
Heyy, I also felt there is a need for more smooth flow of conversation which can be done by adding more queries. If possible could I work on this too?

[2021-03-14 17:12] codeshruti opened #14 "Improvising Medical Analysis"
Add more diseases/problems and their symptoms. I am a GSSOC'21 Participant

[2021-03-15 10:35] rohan-kulkarni-25 commented on #13
Sorry For delay Not a bot I will add a img tag which will keep updating the contributors list with their avatar in circle (small)

[2021-03-15 11:58] alphaX86 commented on #13
Interesting.... I'll let you know once I got my maintainer privilege coz the PA isn't free and we're trying to reach her often. If prompted, I'll assign this to you

[2021-03-16 19:39] sahilempire commented on #13
I want to work on this issue as a **GSSoC participant**, please a**ssign me**

Thank you

[2021-03-17 04:00] rohan-kulkarni-25 commented on #13
Sure !! No issues !!

[2021-03-17 04:36] alphaX86 commented on #14
@codeshruti what kind of feature you're gonna add, explain a bit more

[2021-03-17 04:37] alphaX86 commented on #12
@rohank2502 you mean Shields badges?

[2021-03-17 04:37] alphaX86 commented on #12
Or just logos alone?

[2021-03-17 04:38] rohan-kulkarni-25 commented on #12
Logos only

On Wed, Mar 17, 2021, 10:08 AM Aadhitya A ***@***.***> wrote:

[2021-03-17 04:45] alphaX86 commented on #4
@anurag0singh @Akash20x  if you're creating a license, please always mention the name of the project owner and not yours. Due to such case, I had to close one PR 😞

[2021-03-17 04:45] alphaX86 commented on #4
@Akash20x are you ready to take this issue?

[2021-03-17 04:46] alphaX86 commented on #6
@kcoder63 What kind of CODE_OF_CONDUCT you're gonna propose? Contributor Covenant? Or some other?

[2021-03-17 04:54] alphaX86 commented on #11
Hi @shantamsultania could you explain in brief what you're gonna implement? BTW are you aware that this project is made via Dialogflow? Just asking

[2021-03-17 04:57] alphaX86 commented on #10
@shantamsultania @Sibasish-Padhy Hey guys, I'm a mentor of the project, currently PA isn't free coz she's burdened with college classes. Alright, could anyone tell what feature you're gonna add? Based on that, I'll ping PA to review and assign y'all

[2021-03-17 04:58] alphaX86 commented on #13
Alright @rohank2502 I'll assign you first. Let's see what you're gonna rock! xD

[2021-03-17 05:00] alphaX86 commented on #8
Calm down people, basically you're gonna implement GitHub Actions. Am I right? BTW I'm a mentor of the project

[2021-03-17 05:00] alphaX86 commented on #12
Okie assigning you now! xD

[2021-03-17 05:01] gaulghost commented on #6
Participants, please follow these rules.

1.You need to be already registered for GSSoC '21.

2.Can't register right now again.

3.Comment on a particular issue to get it assigned to you.

4. Try to explain your approach to solve any issue in the comments. This will increase the chances of you being assigned.

5. Don't create issues that are already listed.

6. Please don't pick up an issue alread

[2021-03-17 05:05] rohan-kulkarni-25 commented on #12
Which tech stack will you like to get added ?

[2021-03-17 05:12] Akash20x commented on #4
Yes

[2021-03-17 06:19] codeshruti commented on #14
Adding more usecases for the chatbot, like more diseases and their symptoms.

[2021-03-17 06:48] alphaX86 commented on #4
You're ready to go

[2021-03-17 06:49] alphaX86 commented on #14
Hmm, interesting. So are you willing to take up this issue?

[2021-03-17 06:51] alphaX86 commented on #12
Here's the tech stack which I analysed (more to come in future) : HTML, CSS, JS and Dialogflow

[2021-03-17 06:53] alphaX86 commented on #6
@gaulghost that belongs to a part of CONTRIBUTING.md, by default GitHub has already a template for creating Code Of Conduct! Oh, if you don't know this fact. I'll provide a link then. That's more than enough

[2021-03-17 06:58] alphaX86 commented on #6
Here it is [Link](https://docs.github.com/en/github/building-a-strong-community/adding-a-code-of-conduct-to-your-project)

Just refer and comeback. It'll give an idea

[2021-03-17 08:43] #13 closed

[2021-03-17 12:26] nandakishormpai2001 opened #17 "[CHAT] Chatbot doesnt use User Inputs other than giving options"
## Description
Really liked this website and the initiative of this chat bot. This really looks ambitious. I wish to contribute more to the chat bot. I see that when user enters some symptoms like cold and all for seeking help from the bot, it doesn't understands. I have attached an image to make the issue clear.

## Additional Context
![image](https://user-images.githubusercontent.com/57388834/11

[2021-03-17 12:35] alphaX86 commented on #17
Hmm, that needs to be looked upon.... Currently the PA is busy though anyway I'll ping...

[2021-03-17 12:40] nandakishormpai commented on #17
Sure.

[2021-03-17 13:07] alphaX86 commented on #17
@Srimathij what do you think about this?

[2021-03-17 14:05] codeshruti commented on #14
Yes, that's why I created the issue

[2021-03-17 15:18] alphaX86 commented on #14
😅 OK ok no problem

[2021-03-17 16:21] shantamsultania commented on #11
hey @alphaX86 yeah i am aware of the same as PA is using DialogeFlow we can make a webhook for it and in that webhook, we can add out Python script.
we can then make use of that script to connect the code with a database

by adding this functionality we can make use of multiple use cases :
as we can see right now the bot has only static and the option of around 10 problems we can make a database o

[2021-03-17 16:23] alphaX86 commented on #11
Right so this means I'll consider as Level3 instead of Level2 then

[2021-03-17 16:24] alphaX86 commented on #11
It's all yours now to take! xD

[2021-03-17 16:25] shantamsultania commented on #11
thanks for assigning tho i would need one favor can you can add me as a developer in your DialogeFlow agent also that will help me in making the process fast

[2021-03-17 16:26] alphaX86 commented on #11
Well, that's in the hands of PA though as she's the one who created this bot

[2021-03-17 16:27] alphaX86 commented on #11
IDK she'd respond though coz she's busy with college work

[2021-03-17 16:27] alphaX86 commented on #11
Anyway I'll ask PA about this, in meantime you can focus work on the other side though

[2021-03-17 16:30] shantamsultania commented on #11
ok cool

[2021-03-17 20:37] gaulghost commented on #6
Thanks for the information :) @alphaX86

[2021-03-18 01:57] alphaX86 commented on #6
So who's gonna take this? I'm really confused here! 😅😂

[2021-03-18 12:10] nandakishormpai commented on #17
Can we start discussion on this?

[2021-03-18 13:39] Akash20x commented on #4
Please check my pull request

[2021-03-18 13:42] alphaX86 commented on #4
Done! @Akash20x

[2021-03-18 13:42] #4 closed

[2021-03-18 13:43] alphaX86 commented on #17
Hmm, seems the PA is busy, well we can start discussing

[2021-03-18 13:44] alphaX86 commented on #3
@Aayush-hub if you try to figure out and make the website correct, can I assign you then?

[2021-03-18 13:44] nandakishormpai commented on #17
How does the current chatbot works? is it working on dialogue flow and a json with options?

[2021-03-18 13:45] alphaX86 commented on #8
So, @thesakshipandey @sudhansukinng who's ready to take this one?

[2021-03-18 13:46] alphaX86 commented on #17
Currently as far as I'm informed, it works on Dialogflow and yes, there's JSON

[2021-03-18 13:47] alphaX86 commented on #17
It's still void of many entities though

[2021-03-18 13:47] alphaX86 commented on #9
@bhubesh757 I'm sorry for late reply, but what kind of UI can I expect?

[2021-03-18 13:48] nandakishormpai commented on #17
Let me do some homework on how to add our own features to this. I will get back to you after that. I am planning to use python to create some user instances such that every user input can be interpreted as something.

[2021-03-18 13:49] alphaX86 commented on #17
Okie, no problem, you can come with a solution and say it to me ;)

[2021-03-18 13:51] #12 closed

[2021-03-18 13:55] Aayush-hub commented on #3
@alphaX86 Sure!, will try my best

[2021-03-18 13:57] sudhansukinng commented on #8
I will work on this @alphaX86.

[2021-03-18 13:57] alphaX86 commented on #3
You're clear @Aayush-hub

[2021-03-18 13:58] alphaX86 commented on #8
You're good to go @sudhansukinng

[2021-03-18 14:03] sudhansukinng commented on #8
Thank you for assigning this to me. @alphaX86.

[2021-03-18 14:38] alphaX86 commented on #6
@kcoder @gaulghost @anurag0singh who's gonna take this?

[2021-03-20 09:54] alphaX86 commented on #8
What's the status @sudhansukinng is it over?

[2021-03-20 14:47] alphaX86 commented on #8
If you're not complying I'll assign to someone else... Do look at it

[2021-03-20 15:12] shantamsultania commented on #11
Hey @alphaX86 i have made a connection api for the same do you want me to share it here i have made it like a template in which we can later on add the keys and make the database scheme

I think for this project and this issue we can use it and latter on in issue number #10 we can use it i will be giving a pull request for the same and i think we can then close this issue

[2021-03-20 15:30] sudhansukinng commented on #8
@alphaX86 sorry for the delay. I was stuck in other issues. I will submit my work till tomorrow evening.

[2021-03-20 15:34] alphaX86 commented on #11
@shantamsultania sure you can show it here or in Discord too. I'll take a look. Also for the issue you said, well yep sure!

[2021-03-20 15:35] alphaX86 commented on #8
Alright make sure you do on time, coz Level0 issues are easy and won't take much time

[2021-03-20 15:37] shantamsultania commented on #11
hey @alphaX86  I am creating a Pull Request for the same with my Templease Database Connectivity Code in a while just take a look into it and update me there with review

[2021-03-20 15:40] alphaX86 commented on #11
Alright! Okie 👍

[2021-03-20 15:44] sudhansukinng commented on #8
Okey

[2021-03-21 09:11] #14 closed

[2021-03-22 06:22] aelbasioni commented on #6
Ready to take it @alphaX86

[2021-03-22 06:23] alphaX86 commented on #6
Great, I suppose it'll take a day

[2021-03-22 13:23] #3 closed

[2021-03-22 13:25] #6 closed

[2021-03-23 12:39] Aayush-hub opened #28 "Add github action to auto label issues"
## Description
Add github action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-23 12:42] Aayush-hub commented on #28
@alphaX86 Currently, the issue template is designed to label every issue with gssoc21 , but what if a contributor who has not participated in GSSoC come to contribute. In that case there is no use of label gssoc21. So, we can edit issue template and add a github action to label issue with gssoc21 whenever contributor asks to work under it.

[2021-03-23 12:49] alphaX86 commented on #28
@Aayush-hub I think that's a great idea, BTW could you reconfigure or add a new action to label gssoc21? Coz I created an action but it seems to fail every PR

[2021-03-23 13:06] Aayush-hub commented on #28
@alphaX86 Sure, will add to auto label for issues and look into what's problem for labeling PR's.

[2021-03-23 13:18] alphaX86 commented on #28
Well assigning you now..

[2021-03-23 13:20] alphaX86 commented on #7
Who's ready to take this? I guess I'll do this myself coz it's based on our side

[2021-03-23 13:39] #7 closed

[2021-03-23 13:39] alphaX86 commented on #8
This is beyond time limit, un assigning you now

[2021-03-23 13:41] alphaX86 commented on #2
So, @saloni-rakholiya @noviicee who's gonna take this? It seems an interesting issue though!

[2021-03-23 13:41] alphaX86 commented on #2
And sorry for late reply, it's work and I've been assigned maintainer just a week before :)

[2021-03-23 13:49] noviicee commented on #2
@alphaX86 it's upto you, whom you want to assign. Btw I will be glad contributing to this 😄

[2021-03-24 13:42] aayushirai9900 commented on #8
@alphaX86  Can you assign this issue to me

[2021-03-24 13:49] alphaX86 commented on #8
You have one day to fix this @aayushirai9900

[2021-03-24 13:50] alphaX86 commented on #8
If you have doubts, reach out to me or refer the net

[2021-03-24 14:26] #28 closed

[2021-03-24 14:26] alphaX86 opened #31 "Test issue"
This issue if for gssoc

[2021-03-24 14:27] #31 closed

[2021-03-25 10:12] Avishake007 opened #33 "Website Responsiveness and Design"
## What UI bug/error you faced? Could you describe?
The Website is not properly responsive
 I want to work to work on this issue
please assign me for this issue

[2021-03-25 10:19] alphaX86 commented on #33
Could you briefly describe what you're gonna do? I mean tasks

[2021-03-25 10:20] bhavita2404 commented on #33
Can you please be precise what's the issue.

[2021-03-25 10:29] Avishake007 commented on #33
Actually I am thinking of improving the website responsiveness of the website  and also make few changes like when we see in the smaller devices a hamburger icon will be shown otherwise it will not.

[2021-03-25 11:50] Aayush-hub commented on #33
@Avishake007 @alphaX86 Actually the issue is solved by PR #27 . But the code is not pushed to the deployed site (netlify). Kindly run code in your local machine and suggest the further changes that can be made.

[2021-03-25 11:53] Aayush-hub opened #34 "Add about section in website"
## What UI bug/error you faced? Could you describe?

We can add a informative about section to the website which can tell users what the project is for and can also celebrate the creators and contributors of this project there.

[2021-03-25 11:55] Avishake007 commented on #33
Okay then  I can improve the responsiveness of the website like the logo is not properly positioned for the smaller devices and also on the web page design. Please push the changes on the repo so that I can start working on these issues.

[2021-03-25 12:01] alphaX86 commented on #33
That's already pushed IG. So you can start working it. Meanwhile I'll ask admin on this live deploy as she can only do and has the rights

[2021-03-25 13:42] shee35 opened #35 "Lack of Information for user to use the website[CHAT]"
## Description
presently if any user visits the website, there is not much information available to make it clear how they should use the website. I would like to add Instructions through the chatbot just after the virtual assistant's introduction part.
## Additional Context
The introduction would include, the necessary things that the chatbot supports, and what the website is meant for along with

[2021-03-25 13:48] #8 closed

[2021-03-25 13:49] alphaX86 commented on #35
@shee35 have you tried seeing the website locally? Coz netlify is broken for now, and we're reaching admin for that

[2021-03-25 14:00] arpit456jain commented on #34
Sir Can I work on this issue

[2021-03-25 14:01] arpit456jain commented on #34
I am a Gssoc'21 participant.

[2021-03-25 14:02] alphaX86 commented on #2
@noviicee what's the status? :)

[2021-03-25 14:06] techpkd123 commented on #34
Sir can i work upon this issue as a GSSoC'21 participant?

[2021-03-25 14:09] shee35 commented on #35
No, I haven't seen that locally, I observed this through netlify only. The chat bot keeps on loading in my local, so that was why.

[2021-03-25 14:10] Aayush-hub commented on #34
@techpkd123 @arpit456jain @alphaX86  I am working on it. Kindly give me some time to create a PR.

[2021-03-25 14:14] alphaX86 commented on #34
Right assigning you @Aayush-hub

[2021-03-25 14:16] alphaX86 commented on #35
Oh, alright well better to check this in your local server and then see the problem, coz admin hasn't granted rights to update the site. I'm trying to contact her meanwhile you check this side by side (by cloning repo and seeing)

[2021-03-25 14:22] shee35 commented on #35
Yeah, sure!

[2021-03-25 14:26] noviicee commented on #2
@alphaX86 working on it.
Actually my exams and practicals are going on that's why I am not getting much time these days.

But I am doing bit by bit :)

Will update shortly!!

[2021-03-25 14:27] alphaX86 commented on #2
No worries. Best of luck 👍

[2021-03-25 14:31] noviicee commented on #2
Thank you!! 😊

[2021-03-25 14:45] SuryaSachan opened #36 "feedback form [WEB]"
## What UI bug/error you faced? Could you describe?
feedback form is not added

## Additional details

[2021-03-25 14:46] SuryaSachan commented on #36
kindly assign this issue to me.

[2021-03-25 15:01] alphaX86 commented on #36
Hey there, have you tried running this repo in your local system. Coz Netlify one is a bit broken and need to be updated (only admin can do not us)

[2021-03-25 15:10] SuryaSachan commented on #36
Yes, index.html  differ from the Deployed  website

[2021-03-25 15:12] alphaX86 commented on #36
Hmm, alright. Ready to take this one? Assigning you now...

[2021-03-25 15:19] SuryaSachan commented on #36
yes, thanks a lot.

[2021-03-25 18:02] Varun8216889 commented on #34
As a beginner, I want to contribute but I am not able to find the issue.
Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me or suggest me one.

[2021-03-25 18:04] Varun8216889 commented on #35
As a beginner, I want to contribute but I am not able to find the issue.
Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me or suggest me one.

[2021-03-26 01:31] alphaX86 commented on #34
@Varun8216889 to avoid confusion I made a label called "Status:Assigned" which means the Issue is already WIP.

[2021-03-26 01:31] alphaX86 commented on #34
If the issue is made "Status:Ready for grab" then only you can ask

[2021-03-26 01:32] alphaX86 commented on #35
@Varun8216889 can I DM you in Discord?

[2021-03-26 06:54] Varun8216889 commented on #35
@alphaX86 sure

[2021-03-26 07:49] alphaX86 commented on #35
@Varun8216889 what's your discord ID?

[2021-03-26 15:05] noviicee commented on #2
Hey! I have a doubt.
How do I check whether my added queries are working well.
Do I need to checkout on my branch and launch the bot from there in order to check the queries?
Can you help me out with this?

[2021-03-26 16:20] Varun8216889 commented on #35
Varun(P)#6367

[2021-03-26 16:36] alphaX86 commented on #2
@noviicee try to test in local. For this create a clone and deploy through a local server and check. If it ain't work, reach me out

[2021-03-26 16:37] alphaX86 commented on #2
Or DM me in the project channel, I'll help

[2021-03-26 16:40] Varun8216889 commented on #35
devildagar29@gmail.com

[2021-03-26 16:42] #34 closed

[2021-03-26 16:48] Aayush-hub opened #38 "Feature suggestion"
@alphaX86 Just a suggestion for a feature, can we add a github icon linked to this github repository in about page so that if anyone come through website and find a bug then he/she can be redirected to this repo and can create a issue or work on it.
What's your idea about it?

[2021-03-26 16:53] alphaX86 commented on #38
This is great I'd say

[2021-03-26 18:57] GurshehzadSingh commented on #9
im a gssoc participant and i would like to work on this isuue..we can add a dark mode and a smooth scrolling feature

[2021-03-27 02:28] bhubesh757 commented on #9
@alphaX86 I will Make the webpage more clean and looks pretty , i will send you the ui design! plase look into it , using react js , styled components please assign it to me

[2021-03-27 02:45] alphaX86 commented on #9
Hmm dark mode..... Well, open a separate issue and ping me, I'll look at it @GurshehzadSingh :)

[2021-03-27 02:45] alphaX86 commented on #9
@bhubesh757 send in the UI design once you done, until then it's open

[2021-03-27 02:59] Aayush-hub commented on #38
@alphaX86 Can I work on it?

[2021-03-27 03:00] alphaX86 commented on #38
This is Level0 though..... I have a person who's asking for good first issues. Maybe I can give him a chance, so that he can work upon. Only this issue

[2021-03-27 03:02] alphaX86 commented on #38
@Varun8216889 are you ready to take this one? This is a simple task :)

[2021-03-27 05:55] Varun8216889 commented on #38
yeah sure, but what specifically I have to do.
please guide.

[2021-03-27 09:05] Aayush-hub commented on #38
@alphaX86 Sure! @Varun8216889 Good luck, Happy coding :)

[2021-03-27 09:08] Aayush-hub commented on #38
@Varun8216889 You have just to add a github icon in about page on bottom right and link it to this repository.

[2021-03-27 09:15] Varun8216889 commented on #38
ok thanks for guiding me. Kindly assign it to me.

[2021-03-27 11:15] alphaX86 commented on #38
@Varun8216889 you're good to go. Good luck!

[2021-03-27 12:58] iaditichine opened #39 "Text to Speech coverter"
Hey,I am a GSSOC'21 student,I want to contribute code for Text to Speech converter using python along with a proper readme.md file explaining the process. Please assign this issue to me.
Thank you!

[2021-03-27 17:00] Varun8216889 commented on #38
@alphaX86  Can We add a small feature that when anyone opens your social media handle by clicking on icons on the about page then it should open in a different tab.

[2021-03-28 02:31] alphaX86 commented on #38
Great! IG you can add it too. And one thing I forgot. Run your site locally, don't use the Netlify site. It's broken and Admin isn't responding to that. So, try to run it locally and make the changes :)

[2021-03-28 09:08] alphaX86 commented on #39
@iaditichine describe what you're gonna do. Plus, the issue you opened is an important one

[2021-03-28 09:09] alphaX86 commented on #36
@SuryaSachan what's the status?

[2021-03-28 14:02] nandakishormpai commented on #17
can you assign the issue so that i can start my work or i can start without any assigning?

[2021-03-28 15:50] alphaX86 commented on #17
Are you ready then? Maybe I can use it as Open for All. So you can start

[2021-03-28 17:35] noviicee commented on #2
Okay let me try this way once and I'll update you.
Btw how do I join the project channel...could not find the link..

[2021-03-29 01:40] alphaX86 commented on #2
Oh 😯 you're in GSSoC '21 Discord server right? @noviicee

[2021-03-29 06:13] nandakishormpai commented on #17
Thank you. I will let you know my doubts and suggestions

[2021-03-29 13:44] iaditichine commented on #39
Using gTTs API, I am going to convert entered text into . mp3 file. gTTs supports different language but I'm going use English language as of now.

[2021-03-29 14:15] alphaX86 commented on #39
Hmm, alright. So how many days you need for this?

[2021-03-29 14:16] iaditichine commented on #39
One day

[2021-03-29 14:17] alphaX86 commented on #39
Alright! Assigning you for this...

[2021-03-29 18:33] nandakishormpai commented on #17
I think i cant work much on dialogeflow structure as i dont have the access to your API. I will try to find a workaround to try that. Can you find a way i can test my inputs to the chatbot in my localhost?. Also i am contributing to a live covid case number tracker in the home page so that it doesnt stay blank.

[2021-03-29 18:36] nandakishormpai commented on #17
Even for that i dont see a framework using which you have deployed this website. So can you guide me on what framework and i would need the structure to deploy dynamic requests and responses

[2021-03-29 18:38] nandakishormpai commented on #17
I see that you have mentioned JavaScript in tech stacks, but i dont see any js files which you have used for backend

[2021-03-29 20:08] noviicee commented on #2
Oh okay okay. I thought that the project has a different server and was searching for the link in the repo 👽🙅
Yeah I am in the server! I'll ping you.
Sorry my bad 🙀

[2021-03-30 01:49] alphaX86 commented on #17
It's JSON, not JS. But still it's JavaScript though

[2021-03-30 01:50] alphaX86 commented on #17
There is no framework for the site IG, pure HTML and CSS

[2021-03-30 12:19] iaditichine commented on #39
In which folder should I add my files?

[2021-03-30 16:13] alphaX86 commented on #39
You can create a separate folder for it :)

[2021-03-31 12:47] alphaX86 commented on #35
So @shee35 can you take this? If you're free now?

[2021-03-31 12:59] shee35 commented on #35
Yes Sir, I want to work on it

[2021-03-31 13:50] alphaX86 commented on #35
I'm not sir 😂 anyway assigning you

[2021-03-31 16:00] #33 closed

[2021-03-31 16:01] alphaX86 commented on #39
Issue downgrading to Level 3 and Level 2. Closing this as it's solved via PR #42

[2021-03-31 16:01] #39 closed

[2021-03-31 16:05] alphaX86 opened #43 "[CHAT] Setup TTS engine for assistant"
## Description
The TTS code is already done as a sample in PR #42 but it's simple. So the best approach is to create a TTS engine which will say things on bot's side. It can be anything as long as it's connected to net (I'll update the site, setup CI for other repo so that it'll be visible)

## Additional Context
Discussions are open for this. Plus, this can be considered a major upgrade. Don't wo

[2021-03-31 16:07] alphaX86 commented on #38
Issue fixed via #40

[2021-03-31 16:07] #38 closed

[2021-03-31 16:27] iaditichine commented on #39
According to new marking scheme, I should get 25 points for level 2 issue
but I got only 15 points.

On Wed 31 Mar, 2021, 9:31 PM Aadhitya A ***@***.*** wrote:

[2021-03-31 19:06] shrutis-adobe commented on #43
what exactly do you want the bot to say? do you want to turn indra into a conversational speech bot?

[2021-04-01 02:03] alphaX86 commented on #39
Oh ok, report this to the organisers, maybe I think they'll help. IG they stuck to last marking scheme

[2021-04-01 02:05] alphaX86 commented on #43
No no, I want the bot to say what it actually types, I mean... Consider Google Assistant, it just says whenever it pops a info even when we type.

[2021-04-01 03:24] iaditichine commented on #39
Okay

On Thu 1 Apr, 2021, 7:34 AM Aadhitya A ***@***.*** wrote:

[2021-04-01 10:03] alphaX86 opened #44 "[WEB] Setup alt remote site for the repo (until PA is active)"
This issue is all about setting up an alt site mirror so that mentees can view their changes perfectly. Plus, this ain't for gssoc participants

[2021-04-01 10:04] alphaX86 commented on #44
Mentees are requested not to take this issue! As it depends on delicate care and setting up CI like Travis CI/GitHub Actions

[2021-04-01 17:50] GurshehzadSingh commented on #9
Cool.. let me open the issue..u can see the functionality of the dark mode which i want to implement on my portfolio website. just click on the toggle button: https://gurshehzad-singh-portfolio.netlify.app

[2021-04-01 17:51] GurshehzadSingh opened #46 "[WEB] Adding a dark mode using toggle button on the landing page."
## What UI bug/error you faced? Could you describe?
Creating a toggle button for adding dark mode on the website

## Additional details
Adding a button which can change the color of background to black and the text to white when onClick event occurs.
I would like to work on this issue.

[2021-04-02 05:38] alphaX86 commented on #9
@GurshehzadSingh this is really nice. I mean the dark mode toggle is really cool! I think it's great to implement this

[2021-04-03 05:04] Aayush-hub commented on #9
@alphaX86 Can I work on adding footer to website having some social links

[2021-04-03 05:27] alphaX86 commented on #9
Sure thing, so can I consider this as a collab type? In such case, this issue stays open

[2021-04-03 05:28] alphaX86 commented on #46
Oh sorry I didn't see this. Can you take this? @GurshehzadSingh

[2021-04-03 05:29] alphaX86 commented on #36
@SuryaSachan this is a warning here, if you take more days, then I have to assign someone else

[2021-04-03 06:06] #11 closed

[2021-04-03 06:15] SuryaSachan commented on #36
@alphaX86  my apologies for delayed response. Can you tell in which mail address I have to notify in case of any feedback received in form. Rest of the feedback form  is complete. Thank you

[2021-04-03 06:19] alphaX86 commented on #36
Hmm, I didn't think of this! Maybe you can use uh.... admin's email here it is.... srimathijagadeesan51@gmail.com

[2021-04-03 06:20] alphaX86 commented on #36
You can use IG

[2021-04-03 06:24] SuryaSachan commented on #36
thank you , I will create PR today

[2021-04-03 08:02] SuryaSachan commented on #36
Kindly review PR #47

[2021-04-03 08:34] alphaX86 commented on #36
One sec... reviewing

[2021-04-03 09:12] SuryaSachan commented on #36
I am not sure how to add another  item in drop down navigation bar. Therefore I placed it in place of "Home". So that it can be viewed temporarily.

[2021-04-04 05:48] #36 closed

[2021-04-04 06:18] SuryaSachan opened #48 "Favicon is to be added[WEB]"
## What UI bug/error you faced? Could you describe?

website icon is to be added in all pages
## Additional details

[2021-04-04 07:48] Varun8216889 commented on #46
can I take this issue???

[2021-04-04 07:52] GurshehzadSingh commented on #46
I have created this issue and working on this as well..

[2021-04-04 09:56] alphaX86 commented on #46
Oh sorry, I forgot to assign you then, you could have replied @GurshehzadSingh anyway... assigning you now

[2021-04-04 09:57] alphaX86 commented on #46
@Varun8216889 I'll assign you for some other issue, in that time I'll ping you

[2021-04-04 09:58] alphaX86 commented on #48
@SuryaSachan right! So, any suggestions for Favicons? Maybe I can take a look

[2021-04-04 10:07] SuryaSachan commented on #48
![image](https://user-images.githubusercontent.com/58931486/113505297-7c9a9480-955b-11eb-877d-ceebe283b7ce.png)
May be something like this can work

[2021-04-04 10:10] SuryaSachan commented on #48
we can use
https://github.com/Srimathij/Indra_Bot/blob/main/logo.jpg

[2021-04-04 11:25] SuryaSachan commented on #48
kindly assign me this issue

[2021-04-04 15:50] alphaX86 commented on #48
Alright

[2021-04-04 15:51] alphaX86 commented on #48
Interesting

[2021-04-04 15:56] alphaX86 opened #49 "[DOC] Capitalize and correct letters in DatabaseConnection/README"
## Description

Recently @shantamsultania and I have discussed about Database connection for this project a long time back, so it took some time but finally the feature is added (as a demo) but the documentation is a bit non-grammatical. So some instructions may need to be refined.

## Additional context
Just capitalize some letters or even add instructions to your understanding. I'll review and c

[2021-04-04 15:56] alphaX86 commented on #49
@Varun8216889 are you ready to take up this? This won't take a long time

[2021-04-04 15:57] alphaX86 commented on #49
If you're interested I'll assign you in morning, you can work side by side until then

[2021-04-04 15:58] alphaX86 commented on #17
The issue is still open.... What's the matter

[2021-04-04 15:59] alphaX86 commented on #44
Have to look a different perspective. Closing this but need to figure out if I need to look on Jenkins

[2021-04-04 15:59] #44 closed

[2021-04-04 16:22] shantamsultania commented on #49
You can take it varun @alphaX86 u can assign it to him

[2021-04-04 16:23] alphaX86 commented on #49
Hmm alright @Varun8216889 you're in

[2021-04-04 16:23] alphaX86 commented on #49
Well I guess he needs to comment only then I can assign him

[2021-04-04 16:23] shantamsultania commented on #49
And again sorry for grammatical mistakes

[2021-04-04 16:24] alphaX86 commented on #49
It's OK, bugs are opportunities :)

[2021-04-04 20:16] Varun8216889 commented on #49
yeah, I love to work on this issue. plz assign it to me

[2021-04-05 04:56] aishux opened #50 "Automated Label Assignment"
### Describe the feature you'd like to add
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

Example:

![image](https://user-images.githubusercontent.com/61228436/113342643-5

[2021-04-05 05:21] #50 closed

[2021-04-05 15:48] alphaX86 commented on #48
Solved via #52

[2021-04-05 15:48] #48 closed

[2021-04-05 15:49] #49 closed

[2021-04-06 12:01] nandakishormpai commented on #17
I am understanding dialogflow and how i can implement some python functions into it

[2021-04-06 12:02] nandakishormpai commented on #17
also so sorry my exams are going on and would be till this month but i am actively looking forward to this

[2021-04-06 13:23] alphaX86 commented on #17
Oh ok, focus on your exams well dude 👍

[2021-04-07 04:11] iaditichine opened #54 "Speech to Text converter"
Hello,I am GSSoC '21 participant and I would like to contribute code for Speech to Text conversion using python along with a proper readme.md file explaining the code. Please assign this issue to me.

[2021-04-07 08:29] #35 closed

[2021-04-07 10:10] alphaX86 commented on #54
Explain the concept brief here and I hope it's not like last time doing only sample

[2021-04-07 10:10] alphaX86 commented on #46
@GurshehzadSingh what's the status?

[2021-04-07 10:12] alphaX86 commented on #9
The home page is almost modified. IG I can close this for now... If any feature needs to be added, open a new issue and chat there

[2021-04-07 10:12] #9 closed

[2021-04-07 10:13] alphaX86 commented on #10
@shantamsultania IG you need Dialogflow to do this right? I'm afraid we can't do rn. Maybe how about changing some queries in JSON files?

[2021-04-07 18:37] DOOMSTERR opened #55 "Modifying /Styling Readme.md file"
# Proposed Changes
### Detailed Description

### Modifying by adding

1.)Adding Shield batches in different colors (at center-top):
-> issues-open
-> pull_request-open
-> total no. of forks
-> total no. of stars

2.)Adding emojis and changing alignments of some
headings/text to make it look better.

3.)Adding Sections:
->In Contributor Section adding

Hello, @Srimathij, Please assign me this issue

[2021-04-08 03:32] iaditichine commented on #54
Using Speech Recognition library in python,I will convert audio file into a text file.

[2021-04-08 03:35] iaditichine commented on #54
And live audio into text.

[2021-04-08 04:22] alphaX86 commented on #54
Hmm, ok. You can do this then.

[2021-04-08 04:22] alphaX86 commented on #54
Remember I'll check and implement this time

[2021-04-08 04:23] alphaX86 commented on #55
This is great! I also thought of adding shields.io badges, glad you reminded

[2021-04-08 04:24] alphaX86 commented on #55
You're in @DOOMSTERR 🥳

[2021-04-09 06:43] shantamsultania commented on #10
ok i can do it but i need some basic idea from the PA that yes this is the functions she is ok with other wise it will be the same thing again and again that I will be making the API and it will get stuck so if she is available it would be great or we can do it one a discord call I am ok with all

[2021-04-09 06:45] alphaX86 commented on #10
Main problem is with PA, I don't think she'll respond... Coz I already said the database and didn't ping me back

[2021-04-09 06:45] alphaX86 commented on #10
Well, call is best IG

[2021-04-09 08:49] shantamsultania commented on #10
is there anyone from girl script really looking into this matter as I don't think this is under the rules and regulations of the program I hope all the projects were also told to sign this NOC and all. Cause this is creating an issue they should really look into this and sort this out if PA is not responsive then this project should be removed and all those who raised issues in this projects shoul

[2021-04-09 08:51] alphaX86 commented on #10
Problem is that I'm the only active maintainer here 🙂 (Sigh)

[2021-04-09 08:54] shantamsultania commented on #10
just tell me the names of people to ping related to this on discord will do the same

[2021-04-09 09:01] shantamsultania commented on #10
I have shared this issue to the someone named ruchika

Lets see what she replys

They should atleast help ypu out as you are taking a time out for this project and mentoring all this is a but unprofessional you also have work right be it clg / office
@alphaX86

[2021-04-09 09:22] alphaX86 commented on #10
Alright

[2021-04-09 09:24] Srimathij commented on #10
Yes you both can do that.

On Sat 13 Mar, 2021, 11:21 AM shantam sultania, ***@***.***>
wrote:

[2021-04-10 10:24] khareyash05 opened #56 "[DOC] update contributing.md"
Hi! I would like to add the following in contributing.md-
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-10 15:12] Avishake007 opened #57 "Update the design of form"
## What UI bug/error you faced? Could you describe?
I want to work on the design of form

please assign me for this issue under gssoc'21

[2021-04-11 06:24] alphaX86 commented on #56
Alright, you're in

[2021-04-11 08:03] khareyash05 commented on #56
@alphaX86 Created a PR Have a look

[2021-04-11 09:17] #56 closed

[2021-04-12 07:30] #10 closed

[2021-04-12 13:38] alphaX86 commented on #57
Hello there. Do the PR as soon as you can coz this project will be declared stale due to inactivity of PA. And so far thanks for your contributions

[2021-04-12 13:39] alphaX86 commented on #2
Closing due to inactivity

[2021-04-12 13:39] #2 closed

[2021-04-12 13:40] alphaX86 commented on #17
Closing due to inactivity (Spoiler alert: This project will be considered inactive in few days due to inactivity of PA) Thanks for your contributions made

[2021-04-12 13:40] #17 closed

[2021-04-12 13:42] alphaX86 commented on #54
@iaditichine Hey if you need to do this, please do it fast (coz this project will be considered inactive in few days due to PA and I'll be shifted towards other project)

[2021-04-12 13:43] alphaX86 commented on #55
@DOOMSTERR please make a PR fast

[2021-04-12 13:44] alphaX86 commented on #46
Closing this due to inactivity

[2021-04-12 13:44] #46 closed

[2021-04-12 13:44] alphaX86 commented on #43
Closing this due to inactivity

[2021-04-12 13:44] #43 closed

[2021-04-12 13:58] iaditichine commented on #54
Why inactive? I'll be needing 2-3 days because my exams are going on.

[2021-04-12 14:02] alphaX86 commented on #54
I didn't consider inactive, GSSoC considered.... all because of PA's inactivity. Hmm, in that case, just do a PR when you're free, I'll merge it

[2021-04-12 14:03] alphaX86 commented on #54
And all inactive projects mentors (which includes me) will be shifted towards some other projects, don't ask GSSoC about this coz it's under progress. That's why I'm telling this before hand

[2021-04-12 14:08] iaditichine commented on #54
Okay

[2021-04-12 20:24] DOOMSTERR commented on #55
PR Generated sorry for the late PR was stuck with some work.

[2021-04-13 02:02] #55 closed

[2021-04-13 05:50] Aayush-hub opened #61 "[DOC] Contributors section bug in readme"
## Description

Contributors to this project is not rendered in readme. Plus readme not looking good with large images in project admin section.

[2021-04-13 05:53] Aayush-hub commented on #61
@alphaX86 Can I look into the bug?

[2021-04-13 05:54] alphaX86 commented on #61
Look it asap. I'll merge it today itself as GSSoC considered as inactive repo (all because of PA inactivity)

[2021-04-13 06:27] #61 closed

[2021-04-13 06:30] #57 closed

[2021-04-13 06:32] Aayush-hub opened #63 "[Feature] Deploy Website on Github Pages"
## What UI bug/error you faced? Could you describe?

Deploy Website on  github pages because netlify link is broken. This will help contributors to check the recent changes live and plan further features accordingly.
## Additional details

Sample deployment link deployed by me on Github pages : https://aayush-hub.github.io/Indra_Bot/

[2021-04-13 06:36] Aayush-hub commented on #63
@alphaX86 What are your views on it?

[2021-04-13 06:39] alphaX86 commented on #63
Wow you're the only person to make a contribution after merging a PR lol 😂😂

[2021-04-13 06:39] alphaX86 commented on #63
I mean in terms of speed

[2021-04-13 06:41] alphaX86 commented on #63
Looks good, but IDK if GitHub pages are required... then PA has the access to it. Not me. I'll ask a Q @Aayush-hub how will you update every time on your repo when changes are made here? I also tried your method but felt really hard. I even tried to automate but it's a bit skeptical

[2021-04-13 06:56] Aayush-hub commented on #63
@alphaX86 Yes I cannot update the changes everytime 😂😂. But you can deploy it. Go to project settings>Pages>set source as main>press save.

![Capture](https://user-images.githubusercontent.com/65889104/114509728-7f7c4000-9c53-11eb-89bd-aed3f2d310ad.JPG)

[2021-04-13 06:58] alphaX86 commented on #63
Ok, I know that but see this dude @Aayush-hub
![image](https://user-images.githubusercontent.com/59508546/114509931-b5b9bf80-9c53-11eb-80f8-3d8199d40200.png)

[2021-04-13 06:58] alphaX86 commented on #63
There's no settings for me as I'm just a collaborator LOL

[2021-04-13 06:59] alphaX86 commented on #63
Maybe I can consider it as impossible coz PA is really inactive and last contacted is a month ago

[2021-04-13 06:59] alphaX86 commented on #63
What do you say?

[2021-04-13 07:01] Aayush-hub commented on #63
@alphaX86 Yes, I also think so. I thought you have access to this. But now it cannot be done.

[2021-04-13 07:04] alphaX86 commented on #63
Alright, closing this then

[2021-04-13 07:04] #63 closed

[2021-04-14 13:11] anirudhsai20 opened #64 "Readme file enhancement"
The Readme file can be enhanced by adding a list of Open Source programs in which this project has been listed in. Also there are a lot of grammatical errors that needs correction.

[2021-04-14 13:11] anirudhsai20 commented on #64
Hi! Please assign this issue to me under GSSOC.

[2021-04-16 09:23] alphaX86 commented on #64
IDK if GSSoC accepts this coz they considered this project as stale due to severe inactivity of project admin.... So @anirudhsai20 ask GSSoC team if they accept PRs if so you can do

[2021-04-16 09:24] alphaX86 commented on #64
Project has become stale due to inactivity of PA, GSSoC organisers removed this project :( Sorry. Closing this

[2021-04-16 09:24] #64 closed

[2021-04-21 16:03] #54 closed